<div>
    <nav class="navbar navbar-expand-lg bg-body-$green-900" style="width: 100%;">
        <div class="container-fluid">
            <a class="navbar-brand">EL EMPORIO DEL JARDIN</a>
        </div>
    </nav>
    <div class="login">
        <div class="divisor">
            <div class="loginCard">
                <h1 style="margin-top: 25px;">Login</h1>
                <form id='loginForm'>
                    <label>Ingrese su E-mail</label>
                    <input name="email" class="input">
                    <label>Ingrese su contraseña</label>
                    <input name="password" type="password" class="input">
                    <input type="submit" class="inputButton">
                </form>
            </div>
            <div class="parrafoInicio">
                <p> ¡Bienvenidos al Emporio del Jardín, la principal distribuidora de insumos de jardinería en Argentina!<br>Regístrate en nuestro sitio web para acceder a nuestro extenso catálogo de productos de calidad que harán de tus espacios verdes lugares especiales. El proceso de registro es rápido y sencillo, diseñado para que puedas comenzar a explorar en minutos.<br>Si necesitas ayuda durante el proceso, nuestro equipo de soporte en línea está disponible para asistirte.<br><br>Gracias por elegir el Emporio del Jardín, donde tu pasión por la jardinería se encuentra con la excelencia en productos. ¡Esperamos ser parte de tus proyectos verdes!
                </p>
            </div>
        </div>
        <div class="registerForms">
            <div class="boxForms">
                <p class="textFormRegister">No estás resgistrado?</p>
                <a href="/register">Regístrate aquí</a>
            </div>
            <div class="boxForms">
                <p class="textFormRegister">Ingresa con:</p>
                <a href="/api/session/github">
                    <img src="https://w7.pngwing.com/pngs/588/441/png-transparent-github-git-hub-repository-social-icons-circular-color-icon-thumbnail.png" class="imgGithub" alt="logo github">
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>